@inherits PageComponentBase
@page "/"
@page "/company/list"
@attribute  [Authorize]
@using BlazorTests.Data
@using BlazorTests.Core
@using BlazorTests.Services
@inject BlazorTests.Services.CompanyService CompanyService


<PageComponentWrapper Title="@Title">

    @if (@Companies == null)
    {
        <p><em>Chargement en cours ...</em></p>
    }
    else
    {
        <div class="form-group row">
            <div class="col-12">
                <table id="companyTable" class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Activité</th>
                            <th>
                                <button type="button" class="btn btn-outline btn-xs gridColumnButton" @onclick="@(() => AddCompany())">
                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var company in @Companies)
                        {
                            <tr>
                                <td class="autoSizeToContent">@company.Id</td>
                                <td>@company.Name</td>
                                <td>@company.ActivityText</td>
                                <td class="autoSizeToContent">
                                    <button type="button" class="btn btn-outline-success btn-xs gridColumnButton" @onclick="@(() => EditCompany(@company.Id))">
                                        <span class="fa fa-pen" aria-hidden="true"></span>
                                    </button>
                                    <BlazorTests.Core.Controls.Buttons.DeleteButton DeleteAction="@(async() => await DeleteCompany(@company.Id))"></BlazorTests.Core.Controls.Buttons.DeleteButton>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @code {

        public IList<Company> Companies { get; set; }

        protected override async Task OnInitializedAsync()
        {
            this.Title = "Liste des sociétés";
            Companies = await CompanyService.GetCompanies();
        }

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await JsInteropService.InitTable("companyTable");
            await base.OnAfterRenderAsync(firstRender);
        }

        public void AddCompany()
        {
            NavigationManager.NavigateTo(Urls.CompanyAdd);
        }

        public void EditCompany(int companyId)
        {
            NavigationManager.NavigateTo(Urls.CompanyEditFull + companyId);
        }

        public async Task DeleteCompany(int companyId)
        {
            await CompanyService.DeleteCompany(companyId);
            this.Companies = await CompanyService.GetCompanies();
            this.StateHasChanged();
        }
    }
</PageComponentWrapper>
