@inherits EditablePageComponentBase
@page "/parameter/add"
@page "/parameter/edit/{IdAsString}"

@inject ParameterService ParameterService

<EditablePageComponentWrapper Title="@Title" CheckAndSaveAction="@(() => CheckAndSave(true))" CloseAction="@(() => Close())">


    <EditForm Model="@Parameter" OnValidSubmit="@Save">
        <div>
            <div class="form-group row">
                <div class="col-md-auto col-12">
                    <label>Libellé :</label>
                </div>
                <div class="col-md-6 col-12">
                    <InputText id="text" bind-Value="@Parameter.Text" />
                    @*<input type="text" bind="@Parameter.Text" /> Required ne marche pas avec le input normal *@
                </div>
            </div>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>

    @functions {

        BlazorTests.Models.Parameter Parameter { get; set; }

        protected override void OnInit()
        {
            if (this.Id.HasValue == false)
            {
                this.Title = "Nouveau paramètre";
                this.Parameter = new BlazorTests.Models.Parameter();
            }
            else
            {
                this.Title = "Modifier un paramètre";
                this.Parameter = ParameterService.GetParameter(this.Id.Value);
            }
        }

        protected override async Task Save()
        {
            if (this.Id.HasValue == false)
            {
                ParameterService.AddParameter(this.Parameter);
            }
            else
            {
                ParameterService.UpdateParameter(this.Parameter);
            }
        }
    }

</EditablePageComponentWrapper>