@using Telerik.Blazor.Components
@using Telerik.Blazor


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <TelerikChart Height="230px">
                <ChartTitle Text="Température (°C) et Vent (km/h)" />

                <ChartSeriesItems>
                    <ChartSeries Data="@chartData" Field="@nameof(CategoryData.temp)" Type="ChartSeriesType.Column"  
                                 Name="Température"  CategoryField="@nameof(CategoryData.day)" Axis="tempAxis"/>

                    <ChartSeries Data="@chartData" Field="@nameof(CategoryData.wind)" Type="ChartSeriesType.Line" 
                                 Name="Vent" Axis="windAxis"/>
                </ChartSeriesItems>

                <ChartValueAxes>

                    <ChartValueAxis Name="windAxis">
                        <ChartValueAxisTitle Text="km/h" />
                        <ChartValueAxisMajorGridLines Visible="false" />
                    </ChartValueAxis>

                    <ChartValueAxis Name="tempAxis">
                        <ChartValueAxisTitle Text="°C" />
                        <ChartValueAxisMajorGridLines Visible="false" />
                    </ChartValueAxis>

                </ChartValueAxes>

                <ChartCategoryAxes>
                    <ChartCategoryAxis AxisCrossingValue="@(new object[] { 7, 0 })" />
                </ChartCategoryAxes>
            </TelerikChart>
        </div>
    </div>
</div>

@code {
    public class CategoryData
    {
        public string day { get; set; }
        public double temp { get; set; }
        public double wind { get; set; }
    }
    public List<CategoryData> chartData = new List<CategoryData>
    {
        new CategoryData { day = "L", temp = 20, wind = 0 },
        new CategoryData { day = "M", temp = 30, wind = 15},
        new CategoryData { day = "M", temp = 28, wind = 50 },
        new CategoryData { day = "J", temp = 22, wind = 200 },
        new CategoryData { day = "V", temp = 18, wind = 180 },
        new CategoryData { day = "S", temp = 15, wind = 12},
        new CategoryData { day = "D", temp = 10, wind = 0 },
    };
}
