@inherits DetailPageComponentBase
@page "/company/detail/{IdAsString}"

@inject CompanyService CompanyService
@inject ContactService ContactService

    <PageComponentWrapper Title="@Title" CloseAction="@(() => OnClose())">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="col-md-2 col-12">Nom :</label>
                    <label class="col-md-4 col-12">@Company.Name</label>
                    <button class="col-auto fa fa-pen" onclick="@EditCompany" />
                </div>
            </div>
        </div>

        <CompanyContactListView CompanyId="@Id.Value"></CompanyContactListView>

    @functions {

        BlazorTests.Models.Company Company { get; set; }
        List<BlazorTests.Models.Contact> Contacts { get; set; }

        protected override async Task OnInitAsync()
        {
            this.Company = await CompanyService.GetCompany(this.Id.Value);
            this.Title = $"{Company.Name}";
        }

        private void EditCompany()
        {
            UriHelper.NavigateTo(Urls.CompanyEditSimple + this.Id);
        }

        protected Task OnClose()
        {
            UriHelper.NavigateTo(Urls.CompanyList);
            return Task.FromResult(0);
        }
    }

</PageComponentWrapper>