@inherits DetailPageComponentBase
@page "/company/detail/{IdAsString}"

@inject CompanyService CompanyService
@inject ContactService ContactService

<PageComponentWrapper Title="@Title" CloseAction="@(() => OnClose())">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="col-md-2 col-12">Nom :</label>
                <label class="col-md-4 col-12">@Company.Name</label>
                <button class="col-auto oi oi-pencil" onclick="@EditCompany" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label class="font-weight-bold">Contacts(@Contacts.Count)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            @foreach (var contact in @Contacts)
            {
                <NavLink>@contact.LastName @contact.FirstName</NavLink>
            }
        </div>
    </div>

    @functions {

        BlazorTests.Models.Company Company { get; set; }
        List<BlazorTests.Models.Contact> Contacts { get; set; }

        protected override async Task OnInitAsync()
        {
            this.Company = CompanyService.GetCompany(this.Id.Value);
            this.Contacts = await ContactService.GetCompanyContactsAsync(this.Id.Value);
            this.Title = $"{Company.Name}";
        }

        private void EditCompany()
        {
            UriHelper.NavigateTo(Urls.CompanyEditSimple + this.Id);
        }

        protected Task OnClose()
        {
            UriHelper.NavigateTo(Urls.CompanyList);
            return Task.FromResult(0);
        }
    }

</PageComponentWrapper>