@using Syncfusion.EJ2.Blazor.Inputs
@inject BlazorTests.Services.JsInteropService JsInteropService

<p>TextBox value is: @Name</p>

<EjsTextBox @bind-Value="@Name"></EjsTextBox>

@code {

        private string name = "Syncfusion";
        public string Name { get; set; }
}

@*<EditForm Model="@this" OnValidSubmit="@Save">

        <div class="row">
            <div class="col-auto">
                <EjsTextBox id="lastNameTextBox" placeholder="Nom" @bind-Value="LastName" ShowClearButton="true" floatLabelType="@FloatLabelType.Auto"></EjsTextBox>
            </div>
            <div class="col-auto">
                <button type="submit">Sauvegarder</button>
            </div>
        </div>

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>

    @code {
        [Required]
        public string LastName { get; set; }

        public async Task Save()
        {
            await JsInteropService.ShowAlert($"LastName : {LastName}");
        }
    }*@
