@using BlazorTests.Shared
@page "/customer"
@inherits IndexComponent



<h1>@Title</h1>



@if (@Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.FirstName</td>
                    <td>
                        <a href="/customer/edit/@customer.Id">Modifier</a>
                        @*<button class="btn green" onclick="@(() => EditCustomer(customer.Id) )">Modifier</button>*@
                        <button class="btn red" onclick="@(() => DeleteCustomer(customer.Id) )">Supprimer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn green" onclick="@(() => AddCustomer() )">Ajouter</button>
}
